*{
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}
.background{
    background-color:#121810;
    height: 100vh;
    padding-top: 1px;
}
.title {
    color: white;
    text-align: center;
    font-size: 35px;
    padding-top: 5%;
}
.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.hide {
    display: none;
}
.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns:33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
    background-color: gray;
}
.tile {
    border: 1px solid white;
    min-height: 100px;
    min-width: 99.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    
}
.playerX{
    color: green;
}
.playerO {
    color: red;
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
#reset {
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}